.users__wrapp {
  display: flex;
  margin-top: 20px;
}

.users__btn {
  width: 50%;
  position: relative;
}

.button__add {
  position: fixed;
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  height: 44px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 auto 10px;
  max-width: none;
  outline: none;
  overflow: hidden;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  transition: 0.3s ease-in;
}

.button__add:hover,
.button__add:focus {
  opacity: 0.75;
}
