.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  width: 500px;
  border-radius: 10px;
  background-color: #fff;
}

.modal__header {
  text-align: center;
}

.modal__header .modal__footer {
  padding: 10px;
}

.modal__title {
  color: #040505;
  margin: 25px 0;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 2px 2px 8px gray;
}
.modal__body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.footer_closeBtn {
  display: inline-block;
  margin: 10px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  color: red;
}
