.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(110, 42, 42);
  flex-direction: column;
  font-size: 40px;
  font-weight: 500;
  background-color: rgb(247, 246, 246);
  cursor: pointer;
  -webkit-box-shadow: 1px 9px 34px 0px rgba(0, 53, 94, 0.2);
  -moz-box-shadow: 1px 9px 34px 0px rgba(0, 53, 94, 0.2);
  box-shadow: 1px 9px 34px 0px rgba(0, 53, 94, 0.2);
}
